#main-video {
    width: 100%;
    height: 100%;
}

.remote-videos {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.remote-videos video {
    width: 20%;
    height: 20%;
    margin-right: 5px;
    margin-left: 5px;
}

#video-container {
    height: 40vw;
    /* max-height: 40vw; */
    position: relative !important;
}

video {
    object-fit: contain;
}

.video-buttons {
    position: absolute;
    bottom: 10%;
}

.video-btn-default {
    background-color: rgba(0, 0, 0, 0.5);
}

.video-btn-active {
    background-color: #ffffff;
    color: black;
}

.bg-red {
    background-color: #f44336;
}
