<div fxFlex="100" fxLayout="column" style="height: 100vh;" fxLayoutAlign="center stretch">
    <div fxFlex="100" fxLayout="column" id="video-container" #videoContainer>
        <video poster="https://fbnewsroomus.files.wordpress.com/2015/04/messenger-video-call-carousel-icon.png?w=960" id="main-video" autoplay muted="true" #mainVideo></video>
        <div fxFlexAlign="end" fxLayoutAlign="end" class="remote-videos" id="small-videos-container" #smallVideosContainer>
        </div>

        <div fxFlexAlign="center" class="video-buttons">
            <button mat-fab [ngClass]="micActive ? 'video-btn-default' : 'video-btn-active'" (click)="onMicButtonClick()">
          <mat-icon class="mat-24" aria-label="">{{micActive ? 'mic' : 'mic_off'}}</mat-icon>
        </button>
            <button mat-fab class="bg-red" (click)="endCall()">
          <mat-icon class="mat-24" aria-label="">call_end</mat-icon>
        </button>
            <button mat-fab [ngClass]="camActive ? 'video-btn-default' : 'video-btn-active'" (click)="onCamButtonClick()">
          <mat-icon class="mat-24" aria-label="" >{{camActive ? 'videocam' : 'videocam_off'}}</mat-icon>
        </button>
        </div>

    </div>
</div>
