.teacher-container {
    display: block;
    padding: 0px 46px;
    text-align: center;
}

.teacher-container .teacher-box {
    display: inline-block;
    vertical-align: top;
    min-width: 180px;
    padding: 12px 18px;
    background-color: white;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    margin: 16px;
    border-radius: 4px;
}

.teacher-box .heading-desc-info {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin: 32px 0px 8px;
}

.teacher-box h5 {
    margin: 0px;
}
