h1 {
    color: #323232;
    /* text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); */
}

a {
    color: #004e43;
}

.home-container {
    border-radius: 2px;
    padding: 5px;
    margin-top: 2%;
}

:host {
    margin-left: 60px;
}
