<form fxLayout="column" (ngSubmit)="onSubmit()" #f="ngForm">

    <mat-input-container fxFlex="100">
        <input matInput name="firstname" ngModel type="text" required placeholder="First Name">
        <mat-error>The field is required</mat-error>
    </mat-input-container>

    <mat-input-container fxFlex="100">
        <input matInput name="lastname" ngModel type="text" required placeholder="Last Name">
        <mat-error>The field is required</mat-error>
    </mat-input-container>

    <mat-input-container fxFlex="100">
        <input matInput name="email" ngModel type="email" required placeholder="Email">
        <mat-error>Invalid Email</mat-error>
    </mat-input-container>

    <mat-input-container fxFlex="100">
        <input matInput name="password" #password="ngModel" ngModel type="password" required placeholder="Password">
        <mat-error>The field is required</mat-error>
    </mat-input-container>

    <div fxFlex="33" fxFlexAlign="end">
        <button mat-raised-button [disabled]="!f.valid" color="primary" type="submit">Sign Up</button>
    </div>
</form>
