<div class="app flex-container" fxLayout="column" fxLayoutAlign="end stretch">
    <app-header *ngIf="showSideMenu"></app-header>
    <mat-sidenav-container fxFlex>
        <mat-sidenav #sidenav mode="slide" class="mat-elevation-z1">
            <button mat-button [routerLinkActiveOptions]="{ exact: true }" (click)="sidenav.close()" [routerLinkActive]="'active'" [routerLink]="['/']"><mat-icon>home</mat-icon>
      <span class = "spacer">Home</span>
            </button>
            <hr>
            <button mat-button [routerLinkActive]="'active'" (click)="sidenav.close()" [routerLink]="['/chat']"><mat-icon>chat</mat-icon>
              <span class = "spacer">Chat</span>
            </button>
            <button mat-button [routerLinkActive]="'active'" (click)="sidenav.close()" [routerLink]="['/teachers']"><mat-icon>people</mat-icon>
      <span class = "spacer">Teachers</span>
            </button>
            <button mat-button *ngIf="isAdmin()" (click)="sidenav.close()" [routerLinkActive]="'active'" [routerLink]="['/admin/users']"><mat-icon>face</mat-icon>
              <span class = "spacer">Admin Panel</span>
                    </button>
            <hr>
            <ng-template [ngIf]="!isLoggedIn()">
                <button mat-button [routerLinkActive]="'active'" (click)="sidenav.close()" [routerLink]="['/auth', 'signin']"><mat-icon>fingerprint</mat-icon>
      <span class = "spacer">Sign In</span>
            </button>
                <button mat-button [routerLinkActive]="'active'" (click)="sidenav.close()" [routerLink]="['/auth', 'signup']"><mat-icon>account_circle</mat-icon>
      <span class = "spacer">Sign Up</span>
            </button>
            </ng-template>
            <button mat-button *ngIf="isLoggedIn()" (click)="sidenav.close()" [routerLinkActive]="'active'" [routerLink]="['/settings']"><mat-icon><i class="material-icons">person</i></mat-icon>
              <span class = "spacer">Settings</span>
                    </button>
            <button mat-button *ngIf="isLoggedIn()" (click)="onLogout()"><mat-icon><i class="material-icons">directions_run</i></mat-icon>
      <span class = "spacer">Sign Out</span>
            </button>
        </mat-sidenav>
        <app-side-menu *ngIf="showSideMenu"></app-side-menu>
        <router-outlet></router-outlet>

    </mat-sidenav-container>

    <!--The whole content below can be removed with the new code.-->
</div>
