.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 20px;
}

mat-toolbar {
    z-index: 6;
}

a {
    text-decoration: none;
}

a:visited {
    color: whitesmoke;
}

#title {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
}

#username {
    margin-right: 20px;
    font-size: 15px;
    cursor: text;
}