<form fxLayout="column" [formGroup]="changePassForm" #f="ngForm" (ngSubmit)="onSubmit()">
    <mat-input-container fxFlex="100">
        <input matInput formControlName="currentPassword" type="password" formControlName="currentPassword"  placeholder="Current Password">
        <mat-error>Current Password is required.</mat-error>
    </mat-input-container>
    <mat-input-container fxFlex="100">
        <input matInput formControlName="newPassword" type="password" formControlName="newPassword"  placeholder="New Password">
        <mat-error>New Password is required.</mat-error>
    </mat-input-container>

    <div fxFlex="33" fxFlexAlign="end">
        <button mat-raised-button color="primary" type="submit" [disabled]="!changePassForm.valid">Save</button>
    </div>
</form>

